@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    p {
        padding-bottom: 1rem;
    }
    
}

.boton {
    
    justify-content: center;
    text-align: center;

    a {
        padding: .5rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        color: white;
        background-color: rgb(201, 177, 41);
        border: 2px solid rgb(201, 177, 41);
        border-radius: 25px;
        font-family: 'Roboto', sans-serif;
    }
}